doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css")
  
  body(class="text-bg-dark container-fluid p-0 d-flex flex-column min-vh-100")

    nav(class="bg-dark navbar")
      div(class="container-fluid d-flex justify-content-between")
        div
          a(class="navbar-brand" href="/clubhouse/rules")
            i(class="bi bi-house-lock-fill text-light")
            span(class="text-warning ms-2") ClubHouse
        div 
          a(class="btn btn-primary" href="/clubhouse/sign-up") Sign Up 
          a(class="btn btn-primary ms-2" href="/clubhouse/sign-in") Sign In 

    block content

    div(class="d-flex justify-content-center mt-auto")
      p Developed by #[a(href="https://github.com/Rosendo-Martinez") R. Martinez]

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous")
